.choosen-btn{
    box-shadow: 0 0 0 0.2rem rgb(255 193 7 / 50%) !important;
    border-color: rgb(255 193 7 / 50%) !important;
}
.changeHover:focus{
    box-shadow: 0 0 0 0.2rem rgb(255 193 7 / 50%) !important;
    border-color: rgb(255 193 7 / 50%) !important;
}

.catalog-card-col{
    margin-bottom: 3vh;
}