.second-Product {
    width: 42vw;
    height: 30vh;
    box-shadow: 0px 3px 13px #0000000f !important;
  }
  
  .second-Product:hover {
    border: solid var(--ninth-color) 1px!important;
  }
  
  .img-Second-Product {
    height: 93%;
    width: 42%;
    padding-top: 1vh;
    padding-left: 1vw;
    border-top-left-radius: 28px !important;
    border-top-right-radius: 20px !important;
  }
  
  .title-wrapper-second_product {
    position: absolute;
    top: 21%;
    left: 45%;
    line-height: 0px;
    font-size: small !important;
    line-height: 1.1;
  }
  
  .text-wrapper-second_product {
    z-index: 13;
    top: 53%;
    font-size: x-small;
    left: 45%;
    outline: 1px !important;
    line-height: 0px;
    position: absolute;
    line-height: 0px;
  }
  
  .second_product {
    text-align: left !important;
    letter-spacing: 0.17px !important;
    color: var(--dark-gray) !important;
    font-size: xx-small !important;
    font-style: normal;
    font-weight: none !important;
    position: absolute;
    top: 6vh;
  }
  
  .warraperIcons {
    direction: ltr;
    color: #8c98a8;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 3px;
  }
  
  .fontsAddressCategoiesSecond {
    font-size: medium;
  }
  .fontsTitle{
   font-size:larger !important
  }
  .link-second-card{
  color:var(--second-color);
   text-decoration:"none"; 
  }