.list-group-item {
    background-color: transparent !important;
    text-align: left !important;
    border: 0px !important;
    background-color: var(--light-grey)!important;
    padding: 0px;
}

.paddingGroup {
    padding-top: 0px !important;
    padding: 1rem;
    background-color: var(--grey);  
}

.paddingRange {
    padding-top: 0px !important;
}

.list-group {
    border-top: 0px;
}

.font {
    font-size: 0.9rem;
}

.custom-radio {
    background-image: 'url(../style/images/Rectangle 3)' !important;
    margin-bottom: 10px;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: var(--yellow);
    background-color: var(--yellow);
    --webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}

.custom-range::-webkit-slider-thumb {
    background: var(--yellow);
}
â€
.custom-range::-moz-range-thumb {
    background: var(--yellow);
}

.custom-range::-ms-thumb {
    background: var(--yellow);
}

 .card-header, .cardBody-sidebar {
    background-color: rgb(242 242 242)!important;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2.5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--yellow);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--yellow);
    cursor: pointer;
}

.accordion>.card>.card-header {
    margin-bottom: 0px;
}

.marginSide {
    padding-left: 8%;
    padding-right: 8%;
    margin: auto;
    
}
.sideBarFilter{
    background-color: var(--grey);
    margin-bottom: 7vh;
    max-width: 21%;
}

