#titleAndContent {
  font-size: 18px;
  padding-left: 3% !important;
  padding-top: 1%;
  padding-bottom: 1%;
}

#titleAndContent h4 {
  font-size: 18px;
  margin-top: 5px;
  font-style: bold;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.productColors .color {
  float: left;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin-right: 5px;
}

.productColors .color:last-child {
  float: none;
}

.termItem {
  float: left;
  list-style-type: none;
  margin-right: 5px;
}

.termItem:last-child {
  float: none;
}

#productImage {
  border: 2px solid #707070;
  align-items: center;
  border: none;
}

.productPrice span {
  font-weight: 900;
}

.productPrice del {
  opacity: 0.3;
  margin-right: 40px;
}

.addToCart {
  border-color: #707070 !important;
  color: white !important;
  margin-left: 10px !important;
  width: 12em !important;
  background-color: #efc87e !important;
  border-radius: 2px !important;
  border: none !important;
}

.addToCart:hover {
  border-color: #f29544 !important;
  background-color: #f29544 !important;
  color: white !important;
  border: none !important;
  box-shadow: none !important;
}

.quantity-input {
  height: 1.5em !important;
  width: 2em !important;
  outline: none !important;
  border: none !important;
  height: 6px;
  background-color: #f5f5f5;
  text-align: center;
}

.image-box {
  height: 100%;
  width: 100%;
  border: none;
}

#titleAndContent .d {
  border-top: 1px solid #00000029;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#moreDetails h3 {
  font-size: 20px;
  color: #707070;
  width: 100%;
  border-bottom: 2px solid #9b9b9b;
}

#titleSimilar {
  text-align: center;
  color: #707070;
}

.arrows {
  text-align: left;
}

.similarImg {
  background-color: #f5f5f5;
}

.similarImg img {
  align-items: center;
}

.product-description {
  text-align: left;
  letter-spacing: 0px;
  color: #616161;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

#plus {
  border: none;
  outline: none;
  background-color: #f5f5f5;
  height: 1.5em !important;
}

#moins {
  border: none;
  outline: none;
  background-color: #f5f5f5;
  height: 1.5em !important;
}