.css-text {
    color: #384364;
    opacity: 0.78;
}

.css-shadow {
    box-shadow: 0px 2px 6px #0000001F;
}

.css-input {
    background: #F5F5FADB 0% 0% no-repeat padding-box !important;
    border: none !important;
}

.css-input-important {
    border: none !important;
}

.form-control:focus {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

.css-main {
    width: 100%;
    min-height: 100vh;
}

.css-center {
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
}